{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="page-header" id="banner">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% for article in latestArticles %}
        <div class="col-md-4">
            <div class="thumbnail">
            {% if article.getThumbnail %}
                <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}"></a>
            {% endif %}
            <div class="caption">
                <a href="/articles/{{ article.getSlug }}"><h3>{{ article.title }}</h3></a>
                {{ article.teaser|raw }}
                <p>
                {% if article.getDemoLink %}
                    <a href="{{ article.getDemoLink }}" class="btn btn-primary" target="_blank">Demo</a>
                {% endif %}
                {% if article.getDownloadLink %}
                    <a href="{{ article.getDownloadLink }}" class="btn btn-default">Download</a>
                {% endif %}
                </p>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
