{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="bs-header" id="content">
      <div class="container">
        <h1>Getting started</h1>
        <p>An overview of Bootstrap, how to download and use, basic templates and examples, and more.</p>
        <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script>var z = document.createElement("script"); z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <ul class="hover-block">
    {% for article in latestArticles %}
        <div class="col-md-4">
            <li>
                <!-- Image -->
                <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}">
                    <!-- Content with background color Class -->
                    <div class="hover-content hover-content-background" style="top: 155px;">
                        <h6>{{ article.title }}</h6>
                        {{ article.teaser|raw }}
                    </div>
                </a>
            </li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
