{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="page-header" id="banner">
    <div class="jumbotron">
        <div class="container">
            <h1 class="rotate">Hello,Hola,Bonjour,Hallo,Ciao,Olà,Namaste,Salaam,Halo</h1>
            <p>I'm Fran Álvarez. Software engineer - Web Developer in Madrid, development enthusiastic</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row center">
    <div class="span12">
        <div class="bor"></div>

        <h2>Latest Articles</h2>
        <p>I'm interested in PHP, Javascript and mobile development and here you can find my latest researches and proof of concepts. </p>
        <div class="bor"></div>
        <hr>
    </div>

    <ul class="hover-block">
    {% for article in latestArticles %}
        <div class="col-md-4">
            <li>
                <!-- Image -->
                <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}">
                    <!-- Content with background color Class -->
                    <div class="hover-content hover-content-background" style="top: 155px;">
                        <h6>{{ article.title }}</h6>
                        {{ article.teaser|raw }}
                    </div>
                </a>
            </li>
        </div>
    {% endfor %}
    </ul>
    <div class="pull-right">
        <a class="btn btn-default" href="/articles">See All Articles</a>
    </div>

    </div>
{% endblock %}
