{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="page-header" id="banner">
    <div class="jumbotron">
        <div class="container">
            <h1 class="rotate">Welcome!,Soyez la bienvenue!,¡Bienvenido!,Benvenuti</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <ul class="hover-block">
    {% for article in latestArticles %}
        <div class="col-md-4">
            <li>
                <!-- Image -->
                <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}">
                    <!-- Content with background color Class -->
                    <div class="hover-content hover-content-background" style="top: 155px;">
                        <h6>{{ article.title }}</h6>
                        {{ article.teaser|raw }}
                    </div>
                </a>
            </li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
