{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="page-header" id="banner">
    <div class="jumbotron">
        <div class="container">
            <h1 class="rotate">Welcome,Soyez la bienvenue,Bienvenido,Benvenuti</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <a href="/articles" class="btn btn-primary btn-lg">Articles</a>
                <a href="/about" class="btn btn-default btn-lg">About me</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row center">
    <div class="span12">
        <div class="bor"></div>

        <h2>Articles</h2>
        <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
        <div class="bor"></div>
        <hr>
    </div>

    <ul class="hover-block">
    {% for article in latestArticles %}
        <div class="col-md-4">
            <li>
                <!-- Image -->
                <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}">
                    <!-- Content with background color Class -->
                    <div class="hover-content hover-content-background" style="top: 155px;">
                        <h6>{{ article.title }}</h6>
                        {{ article.teaser|raw }}
                    </div>
                </a>
            </li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
