{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="bs-header" id="content">
      <div class="container">
        <h1>{{ article.getTitle() }}</h1>
        <p>{{ article.getTeaser() }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
<article class="reader">

    {% import "macros.utils" as utils %}

    <header>
        {{ article.getCreated()|date('jS F, Y') }} | {{ utils.tags(article.getTags()) }}
    </header>

    <div>
        {{ article.getContent()|raw }}
    </div>

</article>
{% endblock %}
