{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="bs-header" id="content">
      <div class="container">
        <h1>Articles</h1>
        <p>An overview of Bootstrap, how to download and use, basic templates and examples, and more.</p>
    </div>
</div>
{% endblock %}

{% block content %}
    {% import "macros.utils" as utils %}

    <article class="list">
        {% for article in list %}
        <div class="row">
            <div class="thumbnail">
                <div class="col-md-4">
                        <a href="/articles/{{ article.getSlug }}"><img src="{{ article.getThumbnail }}" alt="{{ article.title }}">
                </div>
                <div class="col-md-8">
                    <div class="caption">
                        <a href="/articles/{{ article.getSlug() }}"><h3>{{ article.getTitle() }}</h3></a>
                            <span>{{ article.getCreated()|date('jS F, Y') }}</span> |
                            {{ utils.tags(article.getTags()) }}
                        <p>{{ article.getContent()|raw }}</p>
                        <p><a href="/articles/{{ article.getSlug }}" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </article>
{% endblock %}

